<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/navbar.css">
    <title>FrameWeaver</title>
</head>

<body>


     
    <div class="navbar">

        <div class="heading">
            <h3>FrameWeaver</h3>
        </div>
    </div>

    <div class="top_portion">

        <form action="" method="POST" enctype="multipart/form-data" id="form">
            <h3>FRAME WEAVER</h3>
            <h4>Create StoryBoards From Your Scripts</h4>
            <input type="file" name="script" class="script">
            <button id="script_upload">UPLOAD SCRIPT</button>

            <div id="progress_bar_container">
                <div id="progress_bar"></div>
            </div>

        </form>

    </div>
    
    
    <div class="about">
        
        <h3>ABOUT</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, provident officia, voluptatum
            repellendus temporibus minus excepturi nobis veniam sapiente laborum eveniet facere maxime ducimus, ex iste?
            Beatae corporis et officia, quisquam eligendi modi aliquam ea dolorem nobis nesciunt! Repudiandae deserunt
            maiores corrupti incidunt iste tempore hic facere explicabo excepturi quis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sed harum incidunt itaque soluta tenetur
            facilis, sapiente dolore. Ex totam, minima dolorum ab voluptatibus accusantium? Accusamus minima adipisci
            quam laudantium quisquam animi sequi id optio porro omnis illo asperiores, maxime impedit possimus
            consectetur modi nulla libero explicabo corrupti voluptatibus. Saepe.
        </p>

    </div>

    
    <script src="/static/home.js"></script>
    <script src='https://app.wotnot.io/chat-widget/geBJ8rdUbFsx052141238901LQf91XZD.js' defer></script>
    

</body>

</html>